.footer{
	background-color: #AA0601;
	color: white;
	padding-top: 32px;
	padding-bottom: 39px;
	hr{
		margin-top: 8px;
	}
	@media (max-width: 992px){
		padding-top: 26px;
		hr{
			margin-top: 4px;
		}
	}
	@media (max-width: 767px){
		padding-top: 13px;
		padding-bottom: 24px;
	}
}

.footerwidth{
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 39px;
	@media (max-width: 767px){
		padding: 0 15px;
	}
}

.footertop{
	display: flex;
	justify-content: space-between;
}

.footerlink{
	width: 550px;
	padding-top: 12px;
	display: flex;
	flex-wrap: wrap;
	@media (max-width: 992px){
		width: 500px;
	}
	@media (max-width: 767px){
		width: 200px;
	}
}

.footeraside{
	a{
		margin-left: 32px;
	}
	@media (max-width: 992px){
		a{
			margin-left: 24px;
		}
	}
	@media (max-width: 767px){
		margin-top: 11px;
		a:nth-child(1){
			margin-left: 0;
		}
	}
}

.footermenu{
	margin-bottom: 36px;
	a{
		color: white;
		text-decoration: none;
		margin-right: 48px;
		font-size: 16px;
		line-height: 1.5;
	}
	@media (max-width: 992px){
		a{
			margin-right: 40px;
		}
	}
	@media (max-width: 767px){
		display: none;
	}
}

.footerdata{
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 36px;
  font-family: 'Roboto';
	margin-bottom: 16px;
	.footericon{
		width: 48px;
		margin-right: 20px;
	}
	@media (max-width: 992px){
		margin-bottom: 12px;
		font-size: 20px;
		.footericon{
			width: 24px;
		}
	}
	@media (max-width: 767px){
		font-size: 16px;
		.footericon{
			width: 20px;
		}
	}
}

.footeraside{
	display: flex;
	img{
		height: 48px;
	}
	@media (max-width: 992px){
		img{
			height: 24px;
		}
	}
}

.footerfoot{
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
  p{
    font-family: 'Roboto';
  }
	ul{
		display: flex;
		font-size: 14px;
		li{
			margin-left: 48px;
		}
	}
	@media (max-width: 992px){
		margin-top: 24px;
	}
	@media (max-width: 767px){
		flex-wrap: wrap;
		margin-top: 16px;
		font-size: 14px;
		p{
			width: 100%;
		}
		ul{
			display: block;
			li{
				margin-left: 0;
				margin-top: 8px;
			}
		}
	}
}