body {
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1110px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;

    @media (max-width: 992px) {
        max-width: 992px;
        margin: 0 39px;
    }

    @media(max-width: 767px) {
        max-width: 767px;
        margin: 0 15px;
    }
}

h2 {
    font-size: 48px;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    color: #650300;
    font-weight: 700;

    @media (max-width: 992px) {
        padding-bottom: 32px;
        font-size: 32px;
    }

    @media(max-width: 767px) {
        padding-bottom: 20px;
        font-size: 24px;
    }
}